:root{
    
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
body {
    background-color: var(--Pale-blue);
    color: var(--Desaturated-blue);
    margin: 0;
}
.bbi{
    width: 100vmax;
    position: fixed;
    top: 0;
    z-index: -1;
}
p{
    margin: 0;
}
button{
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-self: center;
  
    width: 100vw;
    height: 100vh;
    position: relative;

}
.frame{
    width: 400px;
    background-color: white;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center; 
    border-radius: 20px;

}
.hero {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1{
    color: var(--Dark-blue);
}
.des{
    
    padding: 0 50px 20px 50px;
    text-align: center;
}
.music-icon{
 float: left;
 margin-right: 1em;
}
.sub{
    background-color: var(--Very-pale-blue);
    width: 73%;
    height: 50px;
    text-align: left;
    padding: 15px;
    border-radius: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.sub div:nth-of-type(2){
    margin-left: -6rem;
}
p a {text-decoration: underline;
    color: var(--Bright-blue);
    
   

}
.sub .dark{
    color: var(--Dark-blue);
}
/* the buttons */
.b1{
    background-color: var(--Bright-blue);
    box-shadow: 3px 5px 3px  hsla(245, 75%, 52%, 0.514);
    color: white;
}
.b2{
    background-color: white;
}
@media (max-width:375px) {
    .frame{
        width: 80%;
        height: 80%;
        background-color: white;
        text-align: center;
        margin: auto;
        border-radius: 20px;
    
    }
    .sub div:nth-of-type(2){
        margin-left: -2rem;
    }
}
@media (max-width:280px){
    .sub div:nth-of-type(2){
        margin-left: 0rem;
    }
}